
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 400;
}

html, body, #root {
  height: 100%;
  background-color: var(--black);
  font-family: 'DM_Sans';
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --black: #111315;
  --card-color: #1B1D1F;
  --primary: #FEF7EE;
  --secondary: #6F757C;
  --price: #BEE3CC;
  --sold-out-text: #ED735D;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
