*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --black: #111315;
  --card-color: #1B1D1F;
  --primary: #FEF7EE;
  --secondary: #6F757C;
  --price: #BEE3CC;
  --sold-out-text: #ED735D;
}

.App {
  background-color: var(--black);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  align-items: center; */
}
